<!--<html>-->
<!--<head>-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>-->
<!--<link rel="stylesheet" type="text/css" href="node_modules/angular-ui-grid/ui-grid.min.css" />-->
<!--<script src="node_modules/angular-ui-grid/ui-grid.min.js"></script>-->
<!--<script src="simple-user.js"></script>-->
<!--<link rel="stylesheet" type="text/css" href="simple-user.css">-->
<!--</head>-->
<!--<body>-->

<div ng-controller="MainCtrl as $ctrl">
  <div id="grid1" ui-grid="{ data: $ctrl.myData }" class="grid"></div>
</div>

<div>
  <h2 id="page-heading" data-cy="SimpleUserHeading">
    <span>Użytkownicy</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Odśwież listę</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-simple-user"
        [routerLink]="['/simple-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Dodaj użytkownika </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="simpleUsers?.length === 0">
    <span>Brak użytkowników w tabeli</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="simpleUsers && simpleUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="firstName"><span>First Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastName"><span>Last Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let simpleUser of simpleUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/simple-user', simpleUser.id, 'view']">{{ simpleUser.id }}</a>
          </td>
          <td>{{ simpleUser.firstName }}</td>
          <td>{{ simpleUser.lastName }}</td>
          <td>{{ simpleUser.email }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/simple-user', simpleUser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Podgląd</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/simple-user', simpleUser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edytuj</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="simpleUsers && simpleUsers.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
<!--</body>-->
<!--</html>-->
